/*------------------------------*\
|*  Allow Tags to appear anywhere  *|
\*------------------------------*/

.data.tags {
  z-index: 10;
  overflow: initial;
  opacity: 1;
}

.data.tags span {
  min-height: initial;
  margin-bottom: 0;
}

.data.tags a {
  min-height: 15px;
  margin-bottom: 4px;
  opacity: 0;
  transition:
    color var(--timeText) var(--bezierFast),
    opacity calc(var(--timeItem) * 1.5) var(--bezierFast);
} .list-item:hover .data.tags a {
  opacity: 1;
}

/*------------------------------*\
|*    fav,where,inf,pp,ded,unko   *|
\*------------------------------*/

.data.tags span a[href*="=fav"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -25px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: all var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=fav"]:hover {
  background: hsl(var(--text));
}
.data.tags span a[href*="=fav"]::before {
  content: "\f004";
  padding: 0;
  font: 16px/30px "FontAwesome";
  transition: color var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=fav"]:hover:before {
  color: hsl(var(--btnAlt));
}

.data.tags span a[href*="=Where"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -58px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: all var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Where"]:hover {
  background: hsl(var(--text))
}
.data.tags span a[href*="=Where"]::before {
  content: "\e60e";
  padding: 0;
  font: 16px/30px "FontAwesome";
  transition: color var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Where"]:hover:before {
  color: hsl(var(--btnAlt));
}

.data.tags span a[href*="=inf"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -91px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: all var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=inf"]:hover {
  background: hsl(var(--text))
}
.data.tags span a[href*="=inf"]::before {
  content: "\f534";
  padding: 0;
  font: 16px/30px "FontAwesome";
  transition: color var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=inf"]:hover:before {
  color: hsl(var(--btnAlt));
}

.data.tags span a[href*="=pp"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -124px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: all var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=pp"]:hover {
  background: hsl(var(--text))
}
.data.tags span a[href*="=pp"]::before {
  content: "\e0d2";
  padding: 0;
  font: 16px/30px "FontAwesome";
  transition: color var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=pp"]:hover:before {
  color: hsl(var(--btnAlt));
}

.data.tags span a[href*="=Ded"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -157px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: all var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Ded"]:hover {
  background: hsl(var(--text))
}
.data.tags span a[href*="=Ded"]::before {
  content: "\f54c";
  padding: 0;
  font: 16px/30px "FontAwesome";
  transition: color var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Ded"]:hover:before {
  color: hsl(var(--btnAlt));
}

.data.tags span a[href*="=Unko"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -190px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: background var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Unko"]:hover {
  background: hsl(var(--text))
}
.data.tags span a[href*="=Unko"]::before {
  content: "\f2fe";
  padding: 0;
  font: 16px/30px "FontAwesome";
  transition: color var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Unko"]:hover:before {
  color: hsl(var(--btnAlt));
}


/* 'Airing' day */
.data.tags span a[href$="=mon"],
.data.tags span a[href$="=tue"],
.data.tags span a[href$="=wed"],
.data.tags span a[href$="=thu"],
.data.tags span a[href$="=fri"],
.data.tags span a[href$="=sat"],
.data.tags span a[href$="=sun"] {
  position: absolute;
  left: calc(198px - 125px);
  top: calc(-51px - 6px);
  width: 40px;
  height: 22px;
  padding: 0;
  background: hsl(var(--bgAlt));
  border-bottom: 1px solid var(--tdbg);
  border-radius: 4px;
  box-shadow: 2px 1px 2px 2px rgba(10,10,10,0.3);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  overflow: hidden;
  z-index: 10;
  opacity: 1;
  transform: rotate(15deg);
  pointer-events: auto;
  transition: background-color var(--timeButton) var(--bezierFast);
}

.data.tags span a[href$="=mon"]:hover,
.data.tags span a[href$="=tue"]:hover,
.data.tags span a[href$="=wed"]:hover,
.data.tags span a[href$="=thu"]:hover,
.data.tags span a[href$="=fri"]:hover,
.data.tags span a[href$="=sat"]:hover,
.data.tags span a[href$="=sun"]:hover {
  background: hsl(var(--text));
}

.data.tags span a[href$="=mon"] {--tdbg: hsl(102.53, 91.86%, 66.27%);--tdbg2: hsl(153.21, 44.8%, 50.98%);}
.data.tags span a[href$="=tue"] {--tdbg: hsl(198, 100%, 70.63%);--tdbg2: hsl(215.3, 100%, 63.35%);}
.data.tags span a[href$="=wed"] {--tdbg: hsl(285.87, 100%, 70.67%);--tdbg2: hsl(270.39, 100%, 60.98%);}
.data.tags span a[href$="=thu"] {--tdbg: hsl(7.95, 100%, 75.73%);--tdbg2: hsl(338.02, 100%, 64.31%);}
.data.tags span a[href$="=fri"] {--tdbg: hsl(11.34, 100%, 67.84%);--tdbg2: hsl(0, 83.92%, 60.98%);}
.data.tags span a[href$="=sat"] {--tdbg: hsl(30.74, 100%, 66.47%);--tdbg2: hsl(26.23, 100%, 56.71%);}
.data.tags span a[href$="=sun"] {--tdbg: hsl(60, 88.73%, 64.16%);--tdbg2: hsl(35.69, 94.07%, 59.53%);
}

.data.tags a[href$="=mon"]:before,
.data.tags a[href$="=tue"]:before,
.data.tags a[href$="=wed"]:before,
.data.tags a[href$="=thu"]:before,
.data.tags a[href$="=fri"]:before,
.data.tags a[href$="=sat"]:before,
.data.tags a[href$="=sun"]:before {
  padding: 0;
  font: bold 15px/20px var(--font);
  background:linear-gradient(180deg,var(--tdbg) 40%, var(--tdbg2) 80%);
  background-clip: text;
  color: transparent;
  letter-spacing: 0.5px;
}

.data.tags a[href$="=mon"]:before {content: "MON";}
.data.tags a[href$="=tue"]:before {content: "TUE";}
.data.tags a[href$="=wed"]:before {content: "WED";}
.data.tags a[href$="=thu"]:before {content: "THU";}
.data.tags a[href$="=fri"]:before {content: "FRI";}
.data.tags a[href$="=sat"]:before {content: "SAT";}
.data.tags a[href$="=sun"]:before {content: "SUN";
} 

.data.tags a[href$="=mon"]:after,
.data.tags a[href$="=tue"]:after,
.data.tags a[href$="=wed"]:after,
.data.tags a[href$="=thu"]:after,
.data.tags a[href$="=fri"]:after,
.data.tags a[href$="=sat"]:after,
.data.tags a[href$="=sun"]:after {
  content: none;
}
