/*------------------------------*\
|*  Allow Tags to appear anywhere  *|
\*------------------------------*/

.data.tags {
  z-index: 10;
  overflow: initial;
  opacity: 1;
}

.data.tags span {
  min-height: initial;
  margin-bottom: 0;
}

.data.tags a {
  min-height: 15px;
  margin-bottom: 4px;
  opacity: 0;
  transition:
    color var(--timeText) var(--bezierFast),
    opacity calc(var(--timeItem) * 1.5) var(--bezierFast);
} .list-item:hover .data.tags a {
  opacity: 1;
}

/*------------------------------*\
|*    fav,where,inf,pp,ded,unko   *|
\*------------------------------*/

.data.tags span a[href*="=fav"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -25px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: filter var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=fav"]:hover {
  filter: invert(1);
}
.data.tags span a[href*="=fav"]::before {
  content: "\f004";
  padding: 0;
  font: 16px/30px "FontAwesome";
}
.data.tags a[href$="=fav"]::after {
  content: none;
}


.data.tags span a[href*="=Where"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -58px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: filter var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Where"]:hover {
  filter: invert(1);
}
.data.tags span a[href*="=Where"]::before {
  content: "\f070";
  padding: 0;
  font: 16px/30px "FontAwesome";
}
.data.tags a[href$="=Where"]::after {
  content: none;
}

.data.tags span a[href*="=inf"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -91px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: filter var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=inf"]:hover {
  filter: invert(1);
}
.data.tags span a[href*="=inf"]::before {
  content: "\f534";
  padding: 0;
  font: 16px/30px "FontAwesome";
}
.data.tags a[href$="=inf"]::after {
  content: none;
}

.data.tags span a[href*="=pp"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -124px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: filter var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=pp"]:hover {
  filter: invert(1);
}
.data.tags span a[href*="=pp"]::before {
  content: "\e0d2";
  padding: 0;
  font: 16px/30px "FontAwesome";
}
.data.tags a[href$="=pp"]::after {
  content: none;
}

.data.tags span a[href*="=Ded"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -157px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: filter var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Ded"]:hover {
  filter: invert(1);
}
.data.tags span a[href*="=Ded"]::before {
  content: "\f54c";
  padding: 0;
  font: 16px/30px "FontAwesome";
}
.data.tags a[href$="=Ded"]::after {
  content: none;
}

.data.tags span a[href*="=Unko"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 224px);
  top: calc(-51px - -190px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: filter var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=Unko"]:hover {
  filter: invert(1);
}
.data.tags span a[href*="=Unko"]::before {
  content: "\f2fe";
  padding: 0;
  font: 16px/30px "FontAwesome";
}


/* 'Airing' day */
.data.tags span a[href$="=mon"],
.data.tags span a[href$="=tue"],
.data.tags span a[href$="=wed"],
.data.tags span a[href$="=thu"],
.data.tags span a[href$="=fri"],
.data.tags span a[href$="=sat"],
.data.tags span a[href$="=sun"] {
  position: absolute;
  left: calc(198px - 125px);
  top: calc(-51px - 6px);
  width: 40px;
  height: 22px;
  padding: 0;
  background: hsl(var(--bgAlt));
  border-bottom: 1px solid var(--tdbg);
  border-radius: 4px;
  box-shadow: 2px 1px 2px 2px rgba(10,10,10,0.3);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  overflow: hidden;
  z-index: 10;
  opacity: 1;
  transform: rotate(15deg);
  pointer-events: auto;
  transition: background-color var(--timeButton) var(--bezierFast);
}

.data.tags span a[href$="=mon"]:hover,
.data.tags span a[href$="=tue"]:hover,
.data.tags span a[href$="=wed"]:hover,
.data.tags span a[href$="=thu"]:hover,
.data.tags span a[href$="=fri"]:hover,
.data.tags span a[href$="=sat"]:hover,
.data.tags span a[href$="=sun"]:hover {
  background: hsl(var(--text));
}

.data.tags span a[href$="=mon"] {--tdbg: #88F85A;--tdbg2: #4ABA88;}
.data.tags span a[href$="=tue"] {--tdbg: #5FCFFF;--tdbg2: #1E81ED;}
.data.tags span a[href$="=wed"] {--tdbg: #C45BF9;--tdbg2: #9556E0;}
.data.tags span a[href$="=thu"] {--tdbg: #FFB7AC;--tdbg2: #FF7CAC;}
.data.tags span a[href$="=fri"] {--tdbg: #FF7A5B;--tdbg2: #EF4848;}
.data.tags span a[href$="=sat"] {--tdbg: #FFB754;--tdbg2: #FF7D18;}
.data.tags span a[href$="=sun"] {--tdbg: #f7f779;--tdbg2: #fbd07c;
}

.data.tags a[href$="=mon"]:before,
.data.tags a[href$="=tue"]:before,
.data.tags a[href$="=wed"]:before,
.data.tags a[href$="=thu"]:before,
.data.tags a[href$="=fri"]:before,
.data.tags a[href$="=sat"]:before,
.data.tags a[href$="=sun"]:before {
  padding: 0;
  font: bold 15px/20px var(--font);
  background:linear-gradient(180deg,var(--tdbg) 40%, var(--tdbg2) 80%);
  background-clip: text;
  color: transparent;
  letter-spacing: 0.5px;
}

.data.tags a[href$="=mon"]:before {content: "MON";}
.data.tags a[href$="=tue"]:before {content: "TUE";}
.data.tags a[href$="=wed"]:before {content: "WED";}
.data.tags a[href$="=thu"]:before {content: "THU";}
.data.tags a[href$="=fri"]:before {content: "FRI";}
.data.tags a[href$="=sat"]:before {content: "SAT";}
.data.tags a[href$="=sun"]:before {content: "SUN";
} 

.data.tags a[href$="=mon"]:after,
.data.tags a[href$="=tue"]:after,
.data.tags a[href$="=wed"]:after,
.data.tags a[href$="=thu"]:after,
.data.tags a[href$="=fri"]:after,
.data.tags a[href$="=sat"]:after,
.data.tags a[href$="=sun"]:after {
  content: none;
}
