/*------------------------------*\
|*  Allow Tags to appear anywhere  *|
\*------------------------------*/

.data.tags {
  z-index: 10;
  overflow: initial;
  opacity: 1;
}

.data.tags span {
  min-height: initial;
  margin-bottom: 0;
}

.data.tags a {
  min-height: 15px;
  margin-bottom: 4px;
  opacity: 0;
  transition:
    color var(--timeText) var(--bezierFast),
    opacity calc(var(--timeItem) * 1.5) var(--bezierFast);
} .list-item:hover .data.tags a {
  opacity: 1;
}

/*------------------------------*\
|*    Favourite Tags  v1.0.0    *|
\*------------------------------*/

.data.tags span a[href*="=fav"] {
  position: absolute;
  z-index: 10;
  right: calc(198px - 225px);
  top: calc(-51px - -25px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsl(var(--btn));
  border-radius: 50%;
  box-shadow: -0.5px 0.7px 2.1px hsla(0, 0%, 0%, 35%);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  transition: filter var(--timeButton) var(--bezierFast);
}
.data.tags span a[href*="=fav"]:hover {
  filter: invert(1);
}
.data.tags span a[href*="=fav"]::before {
  content: "\f004";
  padding: 0;
  font: 16px/30px "FontAwesome";
}
.data.tags a[href$="=fav"]::after {
  content: none;
}

/* 'Airing' day */
.data.tags span a[href$="=mon"],
.data.tags span a[href$="=tue"],
.data.tags span a[href$="=wed"],
.data.tags span a[href$="=thu"],
.data.tags span a[href$="=fri"],
.data.tags span a[href$="=sat"],
.data.tags span a[href$="=sun"] {
  position: absolute;
  left: calc(198px - 125px);
  top: calc(-51px - 6px);
  width: 40px;
  height: 22px;
  padding: 0;
  background: hsl(var(--bgAlt));
  border-bottom: 1px solid var(--tdbg);
  border-radius: 4px;
  box-shadow: 2px 1px 2px 2px rgba(10,10,10,0.3);
  font-size: 0 !important;
  text-align: center;
  text-shadow: none;
  overflow: hidden;
  z-index: 10;
  opacity: 1;
  transform: rotate(15deg);
  pointer-events: auto;
  transition: background-color var(--timeButton) var(--bezierFast);
}

.data.tags span a[href$="=mon"]:hover,
.data.tags span a[href$="=tue"]:hover,
.data.tags span a[href$="=wed"]:hover,
.data.tags span a[href$="=thu"]:hover,
.data.tags span a[href$="=fri"]:hover,
.data.tags span a[href$="=sat"]:hover,
.data.tags span a[href$="=sun"]:hover {
  background: hsl(var(--text));
}

.data.tags span a[href$="=mon"] {--tdbg: #6eee87;--tdbg2: #5fc52e;}
.data.tags span a[href$="=tue"] {--tdbg: #9bf8f4;--tdbg2: #01dbff;}
.data.tags span a[href$="=wed"] {--tdbg: #A761D6;--tdbg2: #8364e8;}
.data.tags span a[href$="=thu"] {--tdbg: hsl(307, 55%, 61%);--tdbg2: hsl(277, 100%, 61%);}
.data.tags span a[href$="=fri"] {--tdbg: #ff5762;--tdbg2: #fd4b2f}
.data.tags span a[href$="=sat"] {--tdbg: #ee9539;--tdbg2: #f8663a;}
.data.tags span a[href$="=sun"] {--tdbg: #f7f779;--tdbg2: #fbd07c;
}

.data.tags a[href$="=mon"]:before,
.data.tags a[href$="=tue"]:before,
.data.tags a[href$="=wed"]:before,
.data.tags a[href$="=thu"]:before,
.data.tags a[href$="=fri"]:before,
.data.tags a[href$="=sat"]:before,
.data.tags a[href$="=sun"]:before {
  padding: 0;
  font: bold 15px/20px var(--font);
  background:linear-gradient(180deg,var(--tdbg) 40%, var(--tdbg2) 80%);
  background-clip: text;
  color: transparent;
  letter-spacing: 0.5px;
}

.data.tags a[href$="=mon"]:before {content: "MON";}
.data.tags a[href$="=tue"]:before {content: "TUE";}
.data.tags a[href$="=wed"]:before {content: "WED";}
.data.tags a[href$="=thu"]:before {content: "THU";}
.data.tags a[href$="=fri"]:before {content: "FRI";}
.data.tags a[href$="=sat"]:before {content: "SAT";}
.data.tags a[href$="=sun"]:before {content: "SUN";
} 

.data.tags a[href$="=mon"]:after,
.data.tags a[href$="=tue"]:after,
.data.tags a[href$="=wed"]:after,
.data.tags a[href$="=thu"]:after,
.data.tags a[href$="=fri"]:after,
.data.tags a[href$="=sat"]:after,
.data.tags a[href$="=sun"]:after {
  content: none;
}
